*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: darkorange;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: hsl(100, 100%, 70%);
    border: 1px solid hsl(89, 100%, 60%);
    border-radius: 5px;
    padding: 5px 10px;
    color: red;
    outline: none;
}

.btn:hover {
    border-color: purple;
}

